.index-hero {
  .col-lg-7 {
    @include mq(lg) {
      height: 792px;
    }
  }
  &-img {
    @include mq(lg) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 40%;
    }
  }
  &-icons .icon{
    width: 40px;
    height: 40px;
  
    @include mq(md) {
      width: 56px;
      height: 56px;
    }
  }
}

.index-works1-bg-sm {
  padding-top: 93px;
  background-image: url('../../images/indexImages/homepage-work1-bg.png');
  img {
    width: 259px;
    height: 297px;
    @include mq(lg) {
      width: auto;
      height: auto;
    }
  }
  @include mq(lg) {
    background-image: none;
  }
}
.index-card-trans {
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 24px;
}

.index-works3-bg-sm {
  height: 390px;
  background-image: url('../../images/indexImages/homepage-work3-bg.png');
  img {
    width: 295px;
    height: 210px;
    @include mq(lg) {
      width: auto;
      height: auto;
    }
  }
  @include mq(lg) {
    background-image: none;
    height: 800px;
  }
}

.index-works1-bg-lg,
.index-works2-bg-lg,
.index-works3-bg-lg{
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(lg) {
    height: 800px;
  }
}
.index-works1-bg-lg {
  @include mq(lg) {
    background-image: url('../../images/indexImages/homepage-work1-bg.png');
  }
}

.index-works2-bg-lg {
  @include mq(md) {
    img {
      height: 390px;
    }
  }
  @include mq(lg) {
    background-image: url('../../images/indexImages/homepage-work2-lg.png');
    position: relative;
    &::after {
      content: '';
      @include position(absolute, 0, 0, 0, 50%);
      background-color: rgba(10, 16, 19, 0.50);
      z-index: 0;
    }
    .index-card-trans {
      margin: 200px 0;
      position: relative;
      z-index: 1;
    }
  }
}
.index-works3-bg-lg {
  position: relative;
  @include mq(lg) {
    background-image: url('../../images/indexImages/homepage-work3-bg.png');
    .layer {
      background-color: rgba(10, 16, 19, 0.50);
      @include position(absolute, 0, 0, 0, 0);
    }
  }
}

.index-service {
  padding-right: 22.5px;
  padding-left: 22.5px;
  @include mq(md) {
    background-image: url('../../images/indexImages/homepage-services-bg.png');
  }
  @include mq(lg) {
    padding-right: 0;
    padding-left: 0;
  }
}

.index-articles {
  .image-area {
    height: 234px;
  }
}

