.footer {
  background-image: url('../../images/bgm/footer-bg-sm.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include mq(lg) {
    background-image: url('../../images/bgm/footer-bg-lg.png');
  }
  &__logo {
    width: 120px;
    height: 54px;
    object-fit: contain;
  }
  &__list {
    width: 306px;
  }
}