.header {
  position: relative;
  transition: $base-transition;
  &__logo {
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 74px;
    height: 33px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    @include mq(md) {
      width: 90px;
      height: 40px;
      @include position($left: 0, $top: 50%);
      transform: translateY(-50%);
    }
  }
  
  &__links a {
    transition: $base-transition;
    &.active,
    &:hover {
      color: $color-primary-800;
    }
  }

  &__phone-menu {
    @include position($top: 100%, $left: 0, $right: 0);
    background-color: $color-primary-50;
    padding: 40px 0;
    opacity: 0;
    visibility: hidden;
    transition: $base-transition;
    .link {
      display: block;
      text-align: center;
    }
  }
}