.header {
  position: relative;
  transition: $base-transition;
  &__logo {
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 74px;
    height: 33px;
    @include text-hide();

    @include mq(md) {
      width: 90px;
      height: 40px;
      @include position($left: 0, $top: 50%);
      transform: translateY(-50%);
    }
  }
  
  &__links a {
    transition: $base-transition;
    position: relative;
    border: 1px solid transparent;
    z-index: 1;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: $color-primary-50;
      z-index: -1;
    }
    &.active,
    &:hover {
      border: 1px solid $color-primary-900;
      &::before {
        top: -0.3em; 
        bottom: -0.3em;
        left: 0.5em;
        right: 0.5em;
      }
      &::after {
        left: -0.3em;
        right: -0.3em;
        top: 0.5em;
        bottom: 0.5em;
      }
    }
  }

  &__phone-menu {
    @include position($top: 100%, $left: 0, $right: 0);
    background-color: $color-primary-50;
    padding: 40px 0;
    opacity: 0;
    visibility: hidden;
    transition: $base-transition;
    .link {
      display: block;
      text-align: center;
    }
  }
}