.header {
  position: relative;
  &__logo {
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 74px;
    height: 33px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    @include mq(md) {
      width: 90px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__links a.active,
  &__links a:hover{
    font-weight: $font-weight-bold;
  }
}