body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: $fs-base; // 1rem
  line-height: $lh-base; // 1.5
  font-weight: $font-weight-normal; //400
  color: $color-primary-700;
}

a {
  color: $color-primary-900;
  text-decoration: none;
}

.secondary-title {
  position: relative;
  letter-spacing: 1.2px;
  font-size: $fs-4;
  font-weight: $font-weight-bold;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    height: 6px;
    width: 56px;
    top: -4%;
    transform: translateY(-50%);
  }

  &::before {
    content: url('../../images/decos/title-deco-left-sm.png');
    left: calc(50% - 118px);
    @include mq(md) {
      content: url('../../images/decos/title-deco-left-lg.png');
      left: calc(50% - 182px);
      top: -10%;
    }
  }

  &::after {
    content: url('../../images/decos/title-deco-right-sm.png');
    right: calc(50% - 118px);
    @include mq(md) {
      content: url('../../images/decos/title-deco-right-lg.png');
      right: calc(50% - 135px);
      top: -10%;
    }
  }

  @include mq(md) {
    font-size: $fs-2;
    margin-bottom: 80px;
  }
}