@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
  font-size: $fs-base; // 1rem
  line-height: $lh-base; // 1.5
  font-weight: $font-weight-normal; //400
  color: $color-primary-700;
}

a {
  color: $color-primary-900;
  text-decoration: none;
}