@mixin btn{
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: $border-radius-base;
}

.btn {
  @include btn;

  &__md {
    width: 100%;
    padding: 0.25rem 1.5rem;
    border-radius: $border-radius-lg;
    display: flex;
    align-items: center;
    @include mq(md) {
      padding: 0.5rem 1.5rem;
    }
  }
  &--dark {
    background-color: $color-primary-900;
    color: $color-primary-50;
  }
  &--light {
    background-color: $color-primary-50;
    color: $color-primary-700;
    border: 1px solid $color-primary-400;
  }

  &__page {
    background-color: $color-primary-50;
    border-radius: $border-radius-sm;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-700;
    font-size: $fs-4;
  }
  &__page.active {
    color: $color-primary-50;
    background-color: $color-primary-800;
  }
}

