<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/all.css">
  <title><%- title %></title>
</head>
<body>
  <header>
    <div class="container py-2 px-4 py-md-10 px-lg-0">
      <div class="header d-flex justify-content-between align-items-center justify-content-lg-center">
        <a href="#">
          <img class="header__logo" src="./images/logo.png" alt="Noel Logo">
        </a>
        <ul class="header__links d-none d-lg-flex align-items-center">
          <li class="mr-12">
            <a href="#" class="d-block py-1 px-2">首頁</a>
          </li>
          <li class="mr-12">
            <a href="#" class="d-block py-1 px-2">作品集</a>
          </li>
          <li class="mr-12">
            <a href="#" class="d-block py-1 px-2">服務項目</a>
          </li>
          <li class="mr-12">
            <a href="#" class="d-block py-1 px-2">部落格</a>
          </li>
          <li>
            <a href="#" class="d-block py-1 px-2">聯絡我</a>
          </li>
        </ul>
        <a href="#" class="lh-0 d-lg-none">
          <span class="material-symbols-rounded fs-1">menu</span>
        </a>
      </div>
    </div>
  </header>
  <%- contents %>
  <footer></footer>

<script src="js/vendor.js"></script>
<script src="js/all.js"></script>
</body>
</html>